nav {
    display: flex;
    /* background-color: #f1f1f1; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    font: optional;
    justify-content: space-between;
    align-items: center;
}

.nav-items > h5 {
    /* background-color: #f1f1f1; */
    margin: 40px;
    /* padding: 10px; */
    font-size: 20px;
  }

.nav-items > h5:first-child {
    /* make font underline */
    text-decoration: underline;

  }  

.intro-section {
    display: flex;
    /* background-color: aqua; */
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #f1f1f1; */
    width: 50%;
    height: 100%;
}

.left-section > h3 {
    font-size: 50px;
}

.left-section > h1 {
    font-size: 100px;
    margin: 0;
}

.action-btns {
    display: flex;
}

.action-btns > button {
    display: flex;
    justify-content: center;
    background-color: #fa533d;
    /* border-radius: 10%; */
    font-size: 30px;
    color: white;
    margin: 0 auto;
    border: #fa533d;
    padding: 20px;
    /* round corners of a button */
    border-radius: 50px;
}

.sub-headlines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #9a1f1f; */
    width: 100%;
    height: 100%;
}

.sub-headline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    font-size: 30px;
    justify-content: flex-start;
}

.sub-headline > img {
    display: flex;
    justify-content: center;
    background-color: #fa533d;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;

}

.right-section{
    display: flex;
    flex-direction: column;
}

.headphone-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align items on top of each other */
    /* background-color: #a72d2d; */
    padding: 20px;
    /* margin: 0 auto; */
}

.headphone-div > img {
    /* background-color: #fa533d; */
    /* padding: 10px; */
    margin: 10px;
    align-items: center;
    margin-left: -80px;
}

.headphone-div > img[src="./images/discount.svg"] {

    margin-top: 280px;
    margin-left: 20px;
    z-index: 1;
    filter: drop-shadow(6px 5px 2px rgba(26, 26, 26, 0.4));
    /* shadow of a svg image */
}

.discount-content{

    /* align-items: center; */
    /* background-color: #7d2929; */
    margin-top: 280px;
    margin-left: -140px;
    z-index: 2;
    color: white;
    font: inherit;
    font-size: 20px;
}

.discount-content > h1 {
    margin-top: -30px;
    font-size: 50px;
}


.dots {
    display: flex;
    flex-direction: row;
    /* move flexbox istems near to each other */
    /* justify-content: center;
    align-items: center; */
    padding: 20px;
    width: 200px;
    margin-left: 250px;

}

.yellow-dot {
    border-radius: 50%;
    border: 15px solid #ffff00c1;
    margin: 0 auto;
}

.tomato-dot {
    border-radius: 50%;
    border: 15px solid #ff1e00;
    margin: 0 auto;
}

.black-dot {
    border-radius: 50%;
    border: 15px solid #000000;
    margin: 0 auto;
}

.action-btn {
    display: flex;
    justify-content: center;
    background-color: #fa533d;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    border: #fa533d;
    padding: 20px;
    border-radius: 50px;
    width: 300px;
}